* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  max-width: 100%
  height: auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4rem;
  color: #01559A;
}
.header {
  height: 35rem;
  min-width: 100%;
  background-image: url('surfskate2.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: black;
}

.phrase {
  font-family: 'Supermercado One', cursive;
  flex-wrap: wrap;
  font-size: 2rem;
  z-index: 0;
  height: 75%;
  width: 100%;
  color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ride-the-pipe{
  margin-top: 24%;
}

.catch-the-wave {
}

.logo {
  width: 100%;
  height: auto;
}

.img-container {
  width: 40%;
  transition: all .5s;
  margin-top: 2rem;
  margin-left: 1.5rem;
}



.navbar {
  z-index: 100;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: all 0.5s;

}

.navbar-links {
  width: 100%;
  background-color: rgba(20,20,20,.8);
  display: none;
  transition: all .5s;
}

.navbar-links.active {
  display: flex;
  transition: all .5s;
  margin-top: 2%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.navbar-links li a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  padding: 1rem 1rem;
}

.navbar-links li a:focus {
  background-color: #888;
}


.btn {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  transition: all .5s;
}

.btn.click #ham::before {
  content: '\f00d';
}

#ham {
  color: #ffdf00;
  font-size: 1.8rem;
  transition: all .5s;
}

#body {
  color: #01559A;
  background-color: #fff;
}

#body h2 {
  text-align: center;
}

#about-us {
  width: 90%;
  margin: 0 auto;
}

.about-us-heading {
  padding-top: 10%;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.about-us-heading::before,
.about-us-heading::after {
  text-align: center;
  display: inline-block;
  content: "";
  border-top: .3rem solid #01559A;
  border-radius: 1px;
  width: 4rem;
  margin: 0 .5rem;
  transform: translateY(-.5rem);
}
.weed1 {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  margin-top: 5%;
}

#products {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
#flower-info {
  text-align: center;
  margin-top: 10%;
}

#flower-info h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 400;
}

#flower-info h2 {
  padding-bottom: 2%;
  word-break: break-all;
}

.cannabis-heading::before,
.cannabis-heading::after {
  text-align: center;
  display: inline-block;
  content: "";
  border-top: .3rem solid #01559A;
  border-radius: 1px;
  width: 4rem;
  margin: 0 .5rem;
  transform: translateY(1rem);
}

#vape-carts {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
#vape-strains > h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  padding: 3% 0 0 0;
}
#vape-strains h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

.topz {
  padding-top: 10%;
}
#products h4{
  font-family: 'Lobster', cursive;
  line-height: 2.5rem;
}

.bgcolor {
  background-color: rgba(0, 0, 0, .8);
  transition: all .5s;
}

#contact-us {
  background-color: rgba(200,100,0,.3); /* Tint color */
  background-blend-mode: multiply;
  width: 100%;
  height: 500px;
  background-image: url('surfskate1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact {
  color: #ffdf00;
  color: #fff;
  margin-left: 2.5%;

}

#contact-us {
  padding-top: 15%;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#message {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.name-email-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5% auto;
  border: none;
}

#submit-btn {
  background-color: #fff;
  color: #01559A;
  /* background-color: #01559A; */
  text-transform: uppercase;
  font-weight: bold;
  /* color: #ffdf00; */
  letter-spacing: 2px;
  display: block;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0 auto;
  border: 2px solid #ffdf00;
  margin-left: 2.5%;
  margin-top: 5%;
}



form {
  outline: none;
  display: block;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  background-color: black;
  color: #ffdf00;
  text-align: center;
}

#icon {
  width: 20%;
}
.privacy-policy {
  margin-bottom: 5%;
}

.privacy-policy  a {
  color: #ffdf00;
  text-decoration: none;
}
